{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{{movie.img.url}}" width="300" height="300">

        </div>
        <div class="col-sm-6">
           <h2>{{movie.name}}</h2>
            <h4>{{movie.desc}}</h4>
            <h4>{{movie.year}}<br></h4>
            <a class="btn btn-warning" href="{% url 'movie_app:update' movie.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movie_app:delete' movie.id %}">Delete</a>

        </div>
    </div>
</div>


{% endblock %}

