{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 250px; height: 986px; margin-right:30px; margin-top:18px;"  >

                <img src="{{i.img.url}}" class="card-img-top" alt="..." width="650px;" height="250px;" >
                    <div class="card-body" >
                          <h5 class="card-title" >{{i.name}}</h5>
                          <p class="card-text" style="height:579px;">{{i.desc}}</p>
                          <a href="{% url 'movie_app:detail' i.id %}" class="btn btn-primary">Click Here</a>
                     </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
